body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 16px;
    background: #F5F5F5;
	text-align:left;
}

.justify {	text-align:justify; }

.title {
    font-family: 'Young Serif', serif;
    font-size: 200%;
}

.tour-text-desc {
    color: #666666;
}

.description {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

.box {
    background: #FFFFFF;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.box.top-box {
    z-index: 10;
    border-radius: 30px;
    background: #FFFFFF;
	background: rgba(255, 255, 255, 1);
    position: relative;
}

.image-container {
    width: 100%;
    height: 20vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: -30px;
    z-index: 2;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ... [rest of your CSS] ... */

.line-with-text {
    border-bottom: 1px solid #E0E0E0;
    padding: 15px 0;  /* Increased padding for better spacing */
    font-size: 15px;  /* Increased font size */
}

/* Specific styling for the route link section */
.line-with-text.route-section {
    padding: 20px 0;  /* More padding for this specific section */
}

.route-section .tour-text {
    font-size: 16px;
    color: #444;  /* Darker text color */
    display: block;  /* Make it block to add margin */
    margin-bottom: 10px;  /* Space between elements */
}

.route-section b {
    font-weight: bold;
    color: #222;  /* Even darker for bold text */
}

.Maps {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;  /* Allows the buttons to wrap onto the next line if they don't fit side by side */
}


.Maps span {
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid black;   /* Bold black border */
    border-radius: 25px;       /* Rounded corners to create a pill effect */
    font-weight: bold;
    text-align: center;
    cursor: pointer;           /* Indicates interactivity */
    margin-right: 10px;        /* Space between the two links */
    background-color: transparent; /* Transparent background */
    transition: background-color 0.3s; /* Transition for hover effect */
}

.Maps span:hover {
    background-color: rgba(0,0,0,0.1); /* Slight gray shade on hover */
}


.content-box {
    display: flex;
    align-items: center;
    padding: 0;
    overflow: hidden;
    margin-bottom: 3%; /* Added margin for vertical space between subboxes */
}

/* To ensure the last subbox doesn't have unnecessary bottom margin */
.content-box:last-of-type {
    margin-bottom: 0;
}


.content-image {
    flex: 1;
    max-width: 25%;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 8px 0 0 8px;
}

a.no-style {
    text-decoration: none;
    color: inherit;  /* Ensures link has the same color as surrounding text */
}

a.no-style:hover, 
a.no-style:focus {
    text-decoration: none; /* Keeps underlines away on hover/focus */
}


.content-text {
    flex: 3;
    display: flex;
    flex-direction: column;
    border-radius: 0 8px 8px 0;
	text-align:left;
	padding-right:5%;
	height:100%;
    margin:0px auto;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
 }

.content-heading {
    font-weight: bold;
    margin-bottom: 10px;
}

.box-route {
	background-color:#CCE7FF;
	padding-bottom:30px;
	margin-bottom: -20px;
	margin-top: -50px;
	padding-top:60px;
}


.start-now-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #D8BFD8;
    border-radius: 50px;
    position: relative;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

.start-now-btn:hover {
    background-color: #C695C6;
    transform: scale(1.05);
}

.start-now-btn::after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -4px;
}

.start-now-btn-grey::after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: 2px solid #222;
    border-right: 2px solid #222;
    transform: rotate(45deg);
    position: relative;
    top: 50%;
    right: 10px;
    margin-top: -4px;
}

.box1 { background-color: #FFFAF5; } /* Peach Puff */
.box2 { background-color: #F0F0F0; } /* Lavender */
.box3 { background-color: #FFF0F5; } /* Lavender Blush */
.box4 { background-color: #FFF2E8; } /* Misty Rose */


@media (max-width: 500px) {  /* Adjust the 500px value to the point where you want the styles to apply */
    .Maps {
        flex-direction: row;  /* Stack the buttons vertically on narrow screens */
		font-size:70%;
	}
	


    .Maps span {
        margin-top: 5px;  /* Add spacing to the top of each button */
        margin-bottom: 5px;  /* Add spacing to the bottom of each button */
    }
}
